<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/redli/FinalProjectSelenium">
        <classes>
            <class name="eply.com.TestForMainWeb">
                <methods>
                    <include name="test_shopPage"/>
                    <include name="test_adminPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>